<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.dao.AddressDao" >
	<resultMap type="com.app.entity.Address" id="BaseAddrMap">
		<id  property="id" column="id"/>
		<result property="userName" column="UN"/>
		<result property="userIphone" column="PN"/>
		<result property="customer_id" column="customer_id"/>
		<result property="province" column="province"/> 
		
		<result property="uName" column="uName"/>
		<result property="uIphone" column="uIphone"/>
		<result property="community" column="community"/>
		<result property="houseNumber" column="houseNumber"/>
		<result property="city" column="city"/>
		<result property="county" column="county"/>
		<result property="village" column="village"/>
		<result property="zp" column="zp"/>
	</resultMap>
	<!-- 根据用户的id查询地址的id -->
	<select id="getIdsAddr" parameterType="int" resultType="String">
		SELECT ID FROM address a
		WHERE a.status='0' and a.CUSTOMER_ID=#{userId}
	</select>
	<!-- 根据id删除用户的地址 -->
	<delete id="deleteAddrById" parameterType="String">
		<!-- DELETE FROM address WHERE address.ID=#{id} -->
		update address a set a.status='1' where a.id=#{id} 
	</delete>
	
	<!-- 根据用户的id查询所有的地址 -->
	<select id="getAddressList" parameterType="int" resultMap="BaseAddrMap">
		SELECT address.ID,address.CUSTOMER_ID,consumer.UN,consumer.PN,address.uName,address.uIphone,address.PROVINCE,
		address.CITY,address.COUNTY,address.VILLAGE,address.community,address.houseNumber 
		FROM address LEFT JOIN consumer ON 
		consumer.ID=address.CUSTOMER_ID
		WHERE address.status='0' and consumer.ID=#{userId}
	</select>
	
	<!-- 添加地址 -->
	<insert id="addAddress" parameterType="com.app.entity.Address">
		INSERT INTO address (ID,customer_id,PROVINCE,CITY,
			COUNTY,VILLAGE,pn,community,houseNumber,uName,uIphone)
		VALUES(#{id},#{customer_id},#{province},#{city},
			#{county},#{village},#{pn},#{community},#{houseNumber},#{uName},#{uIphone})
	</insert>
	
	<!-- 根据地址的id查询地址的信息 -->
	<select id="getAddressById" parameterType="String" resultType="com.app.entity.Address">
		SELECT address.ID,consumer.UN,consumer.PN,uName,uIphone,address.PROVINCE,
		address.CITY,address.COUNTY,address.VILLAGE,address.community,address.houseNumber 
		FROM address LEFT JOIN consumer ON 
		consumer.ID=address.CUSTOMER_ID
		WHERE address.ID=#{id}
	</select>
	
	<!-- 更新地址 -->
	<update id="updateAddr" parameterType="com.app.entity.Address">
		UPDATE address 
		<set>
      	<if test="province != null and province !=''">province=#{province},</if>
      	<if test="city !=null and city !=''">city=#{city},</if>
      	<if test="county !=null and county !=''">county=#{county},</if>
      	<if test="village !=null and village != ''">village=#{village},</if>
      	<if test="pn !=null and pn != ''">pn=#{pn},</if>
      	<if test="community !=null and community != ''">community=#{community},</if>
      	<if test="houseNumber !=null and houseNumber != ''">houseNumber=#{houseNumber},</if>
      	<if test="uName !=null and uName != ''">uName=#{uName},</if>
      	<if test="uIphone !=null and uIphone != ''">uIphone=#{uIphone}</if>
      	</set>
      	where id=#{id}
	</update>
</mapper>