<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.dao.BatchSeqDao" >
	<!-- 根据哪个列查询哪个列的id -->
	<select id="getFuwuId" resultType="java.lang.String">
		select 
			fuwu_id
		from 
			batch_seq
	</select>
	<!-- 根据哪个列插入最新的id -->
	<insert id="insertFuwuId" parameterType="java.lang.String" >
		insert into 
			batch_seq(fuwu_id) 
		values(#{id})
	</insert>
	<!-- 根据列名更新id -->
	<update id="updateFuwuId" parameterType="java.lang.String"  >
		update batch_seq set fuwu_id=#{id}
	</update>
</mapper>