<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.dao.FrontOrderDao" >
	<resultMap type="com.app.entity.FrontOrder" id="BaseFrontOrderMap">
		<id  property="serviceId" column="id"/>
		<result property="serviceName" column="SN"/>
		<result property="serviceTime" column="serviceTime"/>
		<result property="serviceState" column="sc"/>
	</resultMap>
	<!-- 查询单次的订单 -->
	<select id="getFrontOrdersOnce" resultMap="BaseFrontOrderMap">
		SELECT a.ID,b.service_name,a.serviceTime,a.serviceState FROM service_order a
		LEFT JOIN service b ON a.SERVICE_ID=b.ID
		WHERE a.SC=1
	</select>
	
	<!-- 查询多次的订单 -->
	<select id="getFrontOrdersMore" resultMap="BaseFrontOrderMap">
		SELECT a.ID,b.service_name,a.serviceTime,a.serviceState FROM service_order a
		LEFT JOIN service b ON a.SERVICE_ID=b.ID
		WHERE a.SC>1
	</select>
	
	<!-- 根据订单id查询订单详情 -->
	<select id="getOrderByOrderId" resultType="Map">
		select 
			a.order_id as orderId,
			b.service_name as serviceName,
			a.money,
			a.sc
		from service_order a
		left join service b on a.service_id=b.id
		where a.order_id=#{orderId}
	</select>
</mapper>