<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.dao.GoodsDao" >
	<sql id="goodsColumn">
		a.ID as "id",
		a.CN as "cn",
		a.IG as "ig",
		a.PRICE as "price",
		a.PREPAY as "prepay",
		a.DISCOUNT as "discount",
		a.CS as "cs",
		a.CD as "cd",
		a.REGION_RC as "regionRc",
		a.AIP as "aip",
		a.AIN as "ain",
		a.DIP as "dip",
		a.DIN as "din",
		a.TP as "tp",
		a.STT as "stt",
		a.OD as "od",
		a.inventory as "inventory"
	</sql>
  <!--获取商品列表信息-->
  <select id="getGoodsInfo" resultType="com.app.entity.Goods">
    select 
    	<include refid="goodsColumn"></include>
    from 
    	commodity a
    <where>
    	1 = 1
	    <if test="regionRc != null and regionRc != ''">
	    	and a.region_rc = #{regionRc}
	    </if>
	    <if test="tp != null and tp != ''">
	    	and a.tp = #{tp}
	    </if>
	    <if test="stt != null and stt != ''">
	    	and a.stt = #{stt}
	    </if>
    </where>
    
  </select>
  <!-- 获取商品详情信息 -->
	<select id="getGoodsById" resultType="com.app.entity.Goods">
		select 
    		<include refid="goodsColumn"></include>
    	from 
    		commodity a
    	where
    		a.id = #{id}
	</select>
	<!-- 获取商品总记录数 -->
	<select id="getAllNumber" resultType="int">
		select COUNT(ID) from commodity
	</select>
	<!-- 分页查询商品数据 -->
	<select id="findByPage" resultType="com.app.entity.Goods">
		select
			<include refid="goodsColumn"></include>
    	from 
    		commodity a
    	limit #{0} , #{1}
	</select>
	<insert id="saveGoods">
		insert into COMMODITY a(
			a.id,
			a.cn,
			a.ig,
			a.price,
			a.prepay,
			a.discount,
			a.cs,
			a.cd,
			a.region_rc,
			a.aip,
			a.ain,
			a.dip,
			a.din,
			a.tp,
			a.stt,
			a.od,
			a.inventory
		) values(
			#{id},
			#{cn},
			#{ig},
			#{price},
			#{prepay},
			#{discount},
			#{cs},
			#{cd},
			#{regionRc},
			#{aip},
			#{ain},
			#{dip},
			#{din},
			#{tp},
			#{stt},
			#{od},
			#{inventory}
		)
	</insert>
 </mapper>