<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.dao.UserAuthsDao" >
	<!-- 根据第三方登录凭证查找手机号 -->
	<select id="getPhoneByIdentifier" resultType="com.app.entity.UserAuths">
		select a.id,a.phone as phone,a.identity_type as identityType,a.identifier,a.credential,a.nettime from user_auths a 
		where a.identifier=#{openid}
	</select>
	<!-- 根据手机号查找对象 -->
	
	<select id="getUserAuthsByphone" resultType="com.app.entity.UserAuths">
		select 
			id as id,
			phone as phone,
			identity_type as identityType,
			identifier as identifier,
			credential as credential,
			nettime as nettime
		from
			user_auths
		where phone=#{phone}
	
	</select>
	<!-- 保存第三方登陆凭证 -->
	<insert id="saveOpenid" parameterType="String">
		insert into user_auths(
			identity_type,
			identifier
		)values(
			#{0},
			#{1}
		)
	</insert>
	<!-- 更新手机号 -->
	<update id="updatePhone" parameterType="String">
		update user_auths
			set phone=#{0}
		where
			identifier=#{1}
	</update>
	<!-- 保存第三方登陆信息 -->
	<insert id="saveUserAuths" parameterType="com.app.entity.UserAuths">
		insert into user_auths(
			user_id,
			identity_type,
			identifier,
			credential,
			nettime
		)values(
			#{userId},
			#{identityType},
			#{identifier},
			#{credential},
			#{nettime}
		)
	</insert>
	
	<!-- 通过登录名更新登录凭证 -->
	<update id="updateInfoByIdentifier" parameterType="com.app.entity.UserAuths">
		update user_auths set 
			identity_type=#{identityType},
			credential=#{credential},
			nettime=#{nettime}
		where
			identifier=#{identifier}
	</update>
</mapper>