<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.dao.WxpayDao" >
	
	<!-- 创建订单 -->
	<insert id="createOrder" parameterType="com.app.entity.Wxpay">
		insert into wxpaylistinfo(
			consumerid,
			OUTTRADENO,
			money_type,
			total_fee,
			SUBJECT,
			prepayid)
		values(
			#{consumerid},
			#{outtradeno},
			#{moneyType},
			#{totalFee},
			#{subject},
			#{prepayid}
		)
	</insert>
	
	<!-- 更新订单通知状态 -->
	<update id="updateNotify" parameterType="com.app.entity.Alipay">
		update alipaylistinfo set
			notify_time=#{notifyTime},
			sign=#{sign},
			trade_no=#{tradeNo},
			BUYER_USER_ID=#{buyerUserId},
			buyer_logon_id=#{buyerLogonId},
			trade_status=#{tradeStatus},
			total_amount=#{totalAmount},
			subject=#{subject},
			gmt_payment=#{gmtPayment}
		where 
			out_trade_no=#{outtradeno}
		and
			money_type=#{moneyType}
	</update>
</mapper>